{% extends 'base.html.twig' %}

{% block title %}Guests{% endblock %}

{% block body %}
    <h1>Guests</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guest.id }}</td>
            </tr>
            <tr>
                <th>PassportNum</th>
                <td>{{ guest.PassportNum }}</td>
            </tr>
            <tr>
                <th>FIO</th>
                <td>{{ guest.FIO }}</td>
            </tr>
            <tr>
                <th>CitizenShip</th>
                <td>{{ guest.CitizenShip }}</td>
            </tr>
            <tr>
                <th>TypeGuests</th>
                <td>{{ guest.TypeGuests }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_guests_index') }}">back to list</a>

    <a href="{{ path('app_guests_edit', {'id': guest.id}) }}">edit</a>

    {{ include('guests/_delete_form.html.twig') }}
{% endblock %}
