{% extends 'base.html.twig' %}

{% block title %}Типы комнат{% endblock %}

{% block body %}
    <form action="/rooms/" style="float: left">
    <input type="submit" name="action" value="Комнаты">
    </form>
    <form action="/hotel/staff/" style="float: left">
        <input type="submit" name="action" value="Сотрудники">
    </form>
    <form action="/guests/" style="float: left">
        <input type="submit" name="action" value="Гости">
    </form>
    <form action="/settling/room/">
        <input type="submit" name="action" value="Даты">
    </form>
    <h1>Типы комнат</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Типа</th>
                <th>Тип комнаты</th>
                <th>Цена</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for room_type in room_types %}
            <tr>
                <td>{{ room_type.id }}</td>
                <td>{{ room_type.TypeID }}</td>
                <td>{{ room_type.RoomType }}</td>
                <td>{{ room_type.Price }}</td>
                <td>
                    <a href="{{ path('app_room_type_show', {'id': room_type.id}) }}">show</a>
                    <a href="{{ path('app_room_type_edit', {'id': room_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_room_type_new') }}">Create new</a>
{% endblock %}
